* {
  box-sizing: border-box;
}

body {
  background: gray;
}

.search {
  background: white;
  position: relative;
  width: 300px;
  font-family:Verdana;
  border-radius:16px;  
}

.search input {
  width: 100%;
  padding: 20px 60px 20px 20px;
  display: block;
  font-size: 16px;  
  border-radius:16px;
}

.search button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 8px;
  z-index: 2;
}

.search input:focus {
  color #802;
}
